h1 {
  color: var(--filed-color);
  font-size: 2.2vw;
  letter-spacing: 0.8px;
  font-weight: 600;
}
input {
  border-radius: 11px;
  border: 1px solid #dcdcdc;
  background: #fff;
  width: 25vw;
  height: 43px;
  font-size: 1vw;
}

input + button {
  width: 43px;
  background: #dcdcdc;
}

.add-member-btn {
  border-radius: 10px;
  background: #009444;
  color: #fff;
  font-size: 1vw;
  font-weight: 600;
  letter-spacing: 0.6px;
}

.table .table-head > div,
.table .table-body > div {
  background: #fff;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1.5fr;
  text-align: center;
  padding: 9px 25px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06);
}

.table .table-body > div {
  margin-top: 15px;
}

.table h5 {
  margin: 0;
  color: var(--font-color);
  font-size: calc(var(--font-16px) + 3px);
  font-weight: 500;
}

.table .table-body h5 {
  font-weight: 400;
}

.table .table-head > div {
  border-radius: 15px 15px 0 0;
  z-index: 1000;
  border-bottom: 1px solid;
}

.table .table-body {
  height: 56vh;
  overflow-y: scroll;
}

.table .table-body::-webkit-scrollbar {
  width: 0;
}

svg {
  width: 1vw;
  height: 100%;
}

.table .table-body .action > :nth-child(3) {
  width: 1.3vw;
}

.table .table-body .action > :first-child:hover path {
  fill: #bc20fa;
  transition: 0.5s;
}

.table .table-body .action > :nth-child(2):hover path {
  fill: #ff5c5c;
  transition: 0.5s;
}

.table .table-body .action > :nth-child(3):hover path {
  fill: #1d52ff;
  transition: 0.5s;
}

#save-staff-popup , #update-staff-popup , #view-staff-popup{
  display: none;
  animation: wipe 0.2s ease-in-out;
}

@keyframes wipe {
  0% {
    transform: translateY(-100%); /* Start off-screen */
    opacity: 0;
  }
  100% {
    transform: translateY(0); /* End at normal position */
    opacity: 1;
  }
}

#save-staff-popup > div , #update-staff-popup > div , #view-staff-popup > div{
  border-radius: 24px;
  background: rgba(255, 255, 255, 0.956);
  box-shadow: 0px 1px 26px 3px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2.5px);
}

#save-staff-popup .form-set , #update-staff-popup .form-set , #view-staff-popup .form-set{
  grid-template-columns: repeat(2,1fr);
  column-gap: 20px;
}

#save-staff-popup h2 , #update-staff-popup h2 , #view-staff-popup h2{
  font-size: 1.4vw;
  font-weight: 500;
  letter-spacing: 0.6px;
  color: #009444;
}

@media screen and (max-width: 1024px) {
  input,
  .add-member-btn {
    font-size: 1.5vw;
  }
  .table h5 {
    font-size: 1.3vw;
  }
  svg {
    width: 1.4vw;
    height: 100%;
  }
  .table .table-body .action > :nth-child(3) {
    width: 1.7vw;
  }
  #save-staff-popup h2 , #update-staff-popup h2 , #view-staff-popup h2{
    font-size: 2vw;
  }
}
